* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
html {
  background-color: #111;
}
.notes {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.note {
  width: 220px;
  padding: 16px;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.note h3 {
  margin-bottom: 1rem;
}
.note p {
  margin-bottom: 0.3rem;
}
.note p:last-child {
  margin-bottom: 1.5rem;
}
.note-form {
  display: flex;
  gap: 15px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

.note-form input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
.btn {
  padding: 10px 16px;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.create-btn {
  background-color: #000;
}
.update-btn {
  padding: 10px 16px;
  background-color: #2e7221;
}

.delete-btn {
  margin-left: 2rem;
  padding: 10px 16px;
  background-color: #e53935;
}
